<head>
<script src="plotly-min.js"></script>
<link rel="stylesheet" href="style/font.css"/>
<link rel="stylesheet" href="style/style.css"/>
</head>
<body>
<!-- Plotly chart will be drawn inside this DIV -->
<div class="container">
<h1>Actuator Scatter Plots</h1>
<p>
choose-your-own data adventure:
</p>
<div data-num="0">
	<div class="plot" id="plotdiv"></div>
	<div class="control-row">
		<p>
        	x: <select class="xdropdown"></select>
        	y: <select class="ydropdown"></select>
        </p>
        <p>
        	Select:
        	<div id = "setdiv"></div>
        </p>
	</div>
</div>

<script src = "plotter.js"></script>
</div>
</body>